.buttonx{
    background: transparent !important;
    color:  #A2ABBA !important;
   border: none !important;
}

.buttonx:hover{
    background: #e5e5e7 !important;
}
.buttonx:active
{
    background: #000;
}