body,
html {
    margin: 0;
    padding: 0;
    height: 100%;
}

.yyy {
    position: relative;
    width: 100%;
    height: 100vh;
    /* Ekranın tamamını kaplayacak şekilde div boyutunu ayarlar */
    overflow: hidden;
    /* İçerik taşması durumunda gizlemek için */
    /* margin-top: 12%; */

    img {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
        /* Fotoğrafın div içinde tamamen doldurulmasını sağlar */

    }
}